aside {
    width: auto;
    height: auto;
    z-index: 99;
    cursor: pointer;

    &.download {
        position: fixed;
        top: 620px;
        left: 25px;


        div {
            width: 65px;
            height: 200px;
            background: linear-gradient(to right, #dab959 0%, #fff1b8 50%, #dab959 100%);
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 35px 0;
            position: relative;

            &::before {
                content: "";
                width: 56px;
                height: 190px;
                border-radius: 50px;
                border: solid 2px #fff ;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-51%, -50%);
            }

            i {
                width: 30px;
                height: 30px;
            }

            p {
                font-size: 22px;
                font-weight: bold;
            }
        }
        &:hover,
        &:active,
        &.active {
            div {
               background:linear-gradient(to right, #fff1b8 0%, #dab959 50%, #fff1b8 100%);
            }

        }
    }

    &.line {
        position: fixed;
        top: 620px;
        right: 0px;


        div {
            width: 85px;
            height: 65px;
            border-radius: 50px;
            background: linear-gradient(to top, #007d0c 0%, #05a845 50%, #007d0c 100%);
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: #fff;
                font-size: 18px;
                font-weight: bold;
            }

            &::before {
                content: "";
                width: 75px;
                height: 54px;
                border-radius: 50px;
                border: solid 2px #fff ;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-51%, -50%);
            }
        }

        &:hover,
        &:active,
        &.active {
            div {
                p {
                    transform: scale(1.1);
                }
            }

        }
    }

    &.service {
        position: fixed;
        top: 690px;
        right: 0px;

        div {
            width: 85px;
            height: 65px;
            border-radius: 50px;
            background: linear-gradient(to top, #001c77 0%, #0052af 50%, #001c77 100%);
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                width: 38px;
                height: 38px;
            }

            &::before {
                content: "";
                width: 75px;
                height: 54px;
                border-radius: 50px;
                border: solid 2px #fff ;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-51%, -50%);
            }
        }

        &:hover,
        &:active,
        &.active {
            i {
                transform: scale(1.1);
            }
        }
    }
}