footer {
    width: 100%;
    height: auto;

    .upperHalf {
        width: 100%;
        height: 65px;

        .upperHalfCenter {
            width: 1400px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            ul {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;

                li {
                    width: 80px;
                    height: 100%;
                    margin: 0 25px 0 0;
                    position: relative;
                    cursor: pointer;

                    &:last-child {
                        margin: 0;
                    }

                    &::before {
                        content: "";
                        width: 90%;
                        height: 25px;
                        border-style: solid;
                        border-color: $third_3;
                        border-width: 0px 0 3px 3px;
                        position: absolute;
                        top: 20px;
                        left: 0;
                        display: none;
                    }


                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            font-size: 15px;
                            font-weight: bold;
                            color: $main_2;
                            position: relative;

                            &::before {
                                content: "";
                                width: 100%;
                                height: auto;
                                border-bottom: solid 1px $main_2;
                                position: absolute;
                                top: 20px;
                                left: 0;
                            }
                        }
                    }

                    &:hover,
                    &:active,
                    &.active {
                        &::before {
                            display: block;
                        }

                        a {
                            p {
                                &::before {
                                    display: none;
                                }

                                color: $third_3;
                            }
                        }
                    }
                }

                p {
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .lowerHalf {
        width: 100%;
        height: 200px;

        .lowerHalfCenter {
            width: 1400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            p {
                width: auto;
                height: auto;
                font-size: 14px;
                letter-spacing: 1px;
                font-weight: bold;
                color: $third_2;
                margin: 0 0 20px 0;
                user-select: text;
            }
        }
    }
}