html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: auto;
        position: relative;

        @import "./_register.scss";
        @import "./header";
        @import "./main";
        @import "./_innerPage.scss";
        @import "./_gamePage.scss";
        @import "./_event.scss";
        @import "./_help.scss";
        @import "./footer";
        @import "./aside";
        @import "./popup";

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: #cccccc;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #ffffff;
            border-radius: 10px;
        }

        .bg {
            width: 100%;
            height: 785px;
            position: absolute;
            top: 615px;
            left: 0;
            z-index: -99;
        }

        .input {
            &.primary {
                border: solid 1px #fff;
                border-radius: 30px;
                background: #fff6e8;
                box-shadow: 0px 1px 6px 0px #00000096 inset;
            }

            &.chkbox {
                background: #fff;
                border: solid 1px #000;
                border-radius: 3px;

                &::before {
                    border-color: #da0101;
                    border-style: solid;
                    border-width: 3px 3px 0 0;
                    opacity: 0;
                }

                &:checked {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }

        .btn {
            width: auto;
            height: auto;

            &.primary {
                background: linear-gradient(to bottom, #f3db99 16%, #ffedd6 41%, #fff7e8 54% #ffedd6 68%, #a08b57 97%);
                border: solid 1px #fff;
                border-radius: 30px;
                box-shadow: 0px 0px 4px 1px #000 inset;
                color: #000;
            }

            &.second {
                background: linear-gradient(to top, #a50808 14%, #ff290c 39%, #ff6d2d 60% #bd1009 87%);
                border: solid 1px #ff290c;
                border-radius: 30px;
                box-shadow: 0px 0px 0px 2px #000 inset;
                color: #fff;
            }

            &.third {
                background: linear-gradient(to bottom, #241709 0%, #a87f45 15%, #bb9256 85%, #241709 100%);
                color: #000;

                &:hover,
                &:active,
                &.active {
                    color: #ffe8c5;
                    background: linear-gradient(to top, #8b714c 5%, #3c2d1b 80%);
                }
            }
        }
    }
}