html body  .bg {
    background: url("../img/mian_bg.png") no-repeat center center;
    background-size: cover;
}

html body main .typeList ul li .gameSelect i {
    background: url("../img/grid_public.png") no-repeat center;
    background-size: contain;
}

// sport
html body main .typeList ul li .gameSelect.sport {
    background: url("../img/grid_sport_box.png") no-repeat center;
    background-size: contain;
}

// live
html body main .typeList ul li .gameSelect.live {
    background: url("../img/grid_live_box.png") no-repeat center;
    background-size: contain;
}

// slot
html body main .typeList ul li .gameSelect.slot {
    background: url("../img/grid_slot_box.png") no-repeat center;
    background-size: contain;
}

// lottery
html body main .typeList ul li .gameSelect.lottery {
    background: url("../img/grid_lottery_box.png") no-repeat center;
    background-size: contain;
}

// board
html body main .typeList ul li .gameSelect.board {
    background: url("../img/grid_board_box.png") no-repeat center;
    background-size: contain;
}
// fish
html body main .typeList ul li .gameSelect.fish {
    background: url("../img/grid_fish_box.png") no-repeat center;
    background-size: contain;
}

// footer
html body footer .upperHalf {
    background: url("../img/footer_bg.png") no-repeat top left;
    background-size: cover;
}

html body footer .lowerHalf {
    background: url("../img/footer_bg_2.png") no-repeat top left;
    background-size: cover;
}
// aside
html body aside.download div i {
    background: url("../img/aside_download.png") no-repeat center;
    background-size: contain;
}
html body aside.service div i {
    background: url("../img/aside_servie.png") no-repeat center;
    background-size: contain;
}







.bg.gamePage_BG {
    background: url("../img/gamePage_Bg.png") no-repeat top center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  //待移除
    height: 100%; //待移除
    background: #dfdfdf; //待移除
}

//header
header .logo img {
    width: 200px;
    height: 100%;
    object-fit: contain;
}
header .downList img {
    width: 220px;
    height: 184px;
    object-fit: contain;
}

//swiper
.swiper .banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

//home
.home .gameBlock img {
    width: 100%;
    height: 270px;
    object-fit: contain;
}

//event
main .eventWrap .eventTitle {
    background: url("../img/eventTitle_bg.png") no-repeat center;
    background-size: cover;
}


//innerPage///////////

//vip
.innerPage .center>div.midSide.vip .midBottom .content .currentLevel {
    background: url("../img/medal_01.png") no-repeat;
    background-size: 100%;
    width: 80px;
    height: 100px;
    object-fit: contain;
    margin-right: 30px;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(1) {
    background: url("../img/vipLevel_01.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(1) .medal {
    background: url("../img/medal_01.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(2) {
    background: url("../img/vipLevel_02.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(2) .medal {
    background: url("../img/medal_02.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(3) {
    background: url("../img/vipLevel_01.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(3) .medal {
    background: url("../img/medal_03.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(4) {
    background: url("../img/vipLevel_04.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(4) .medal {
    background: url("../img/medal_04.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(5) {
    background: url("../img/vipLevel_05.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(5) .medal {
    background: url("../img/medal_05.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(6) {
    background: url("../img/vipLevel_06.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(6) .medal {
    background: url("../img/medal_06.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(7) {
    background: url("../img/vipLevel_07.png") no-repeat;
    background-size: 100%;
}
.innerPage  .center>div.midSide.vip .midBottom .content .vipCardList li:nth-of-type(7) .medal {
    background: url("../img/medal_07.png") no-repeat;
    background-size: 100%;
}

//deposit
.innerPage  .center>div.midSide.deposit .midTop .objectList .payType li:nth-of-type(1) .pay_Icon {
    background: url("../img/icon/svg/payWay01.svg") no-repeat center;
    background-size: 100%;
}
.innerPage .center>div.midSide.deposit .midTop .objectList .payType li:nth-of-type(2) .pay_Icon{
    background: url("../img/icon/svg/payWay02.svg") no-repeat center;
    background-size: 100%;
    width: 22px;
    height: 22px;
}
.innerPage .center>div.midSide.deposit .midTop .objectList .payType li:nth-of-type(3) .pay_Icon {
    background: url("../img/icon/svg/payWay03.svg") no-repeat center;
    background-size: 100%;
    width: 22px;
    height: 22px;
}

//bankCard
.innerPage .center>div.midSide.bankCard .midTop .objectList .cardSet li.addCard .addBtn {
    width: 50px;
    height: 50px;
    background: url("../img/icon/svg/addCard.svg") no-repeat center;
    background-size: 100%
} 

//help
main .helpWrap .helpBody .container div .img.withdraw01 {
    background: url("../img/help/withdraw01.png") no-repeat;
    background-size: 100%;
    height: 749px;
}
main .helpWrap .helpBody .container div .img.transfer01 {
    background: url("../img/help/transfer01.png") no-repeat;
    background-size: 100%;
    height: 957px;
}
main .helpWrap .helpBody .container div .img.remote01 {
    background: url("../img/help/remote01.png") no-repeat;
    background-size: 100%;
    width: 187px;
    height: 144px;
}
main .helpWrap .helpBody .container div .img.remote02 {
    background: url("../img/help/remote02.png") no-repeat;
    background-size: 100%;
    width: 275px;
    height: 379px;
}


//register
.registerWrap {
    background: url('../img/register_background.png') no-repeat center;
    background-size: cover;
}
.registerWrap .signUpBlock .decPic {
    background: url('../img/register_background2.png') no-repeat center;
    background-size: cover;
}

//aside
aside.app .download_ic {
    width: 25px;
    height: 25px;
    background: url("../img/icon/download.png") no-repeat center;
    background-size: 100%;
}
aside.cs .csBtn_ic {
    width: 30px;
    height: 30px;
    background: url("../img/icon/svg/csBtn.svg") no-repeat center;
    background-size: 100%;
}