main {
    width: 100%;
    height: auto;
    padding: 120px 0 0 0;
    margin: 0 0 50px 0;
 

    .swiper-banner {
        width: 100%;
        overflow: hidden;
        position: relative;

        .swiper-wrapper {
            .swiper-slide {
                img {
                    width: 100%;
                    height: 100%;
                    min-height: 495px;
                    object-fit: cover;
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 15%;
            height: 100%;
            top: 0;
            opacity: 0.5;
            margin: 0;

            &:hover,
            &:active,
            &.active {
                opacity: 1;
            }

            &::before {
                content: "";
            }

            &::after {
                content: "";
                width: 15px;
                height: 15px;
                border-style: solid;
                border-width: 8px 8px 0 0;
                border-color: $main_1 $main_1 transparent transparent;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .swiper-button-prev {
            left: 0;
            right: unset;
            transform: scaleX(-1);
        }

        .swiper-button-next {
            right: 0;
            left: unset;
        }

        .swiper-pagination {
            span {
                background: $main_1 ;
            }
        }

        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: 17px;
        }
    }

    .marqueeArea {
        width: 1300px;
        height: 50px;
        @include marquee_1;
        display: flex;
        align-items: center;
        margin: 25px auto 55px;
        padding: 0 0 0 15px;

        .marqueeTitle {
            width: 180px;
            height: 55px;
            @include title_1;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: $main_2;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }

        .marqueeTextBox {
            width: 100%;
            height: auto;
            overflow: hidden;

            p {
                color: $main_1;
                font-size: 17px;
                font-weight: bold;
                display: inline-block;
                white-space: nowrap;
                padding-left: 100%;
                animation: marqueeMove 15s linear 0s infinite;
            }

            @keyframes marqueeMove {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-100%);
                }
            }
        }
    }

    .gridArea {
        width: 1400px;
        height: auto;
        margin: 0 auto;

        ul {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
            gap: 0px;

            li {
                width: 337px;
                height: auto;

                .gameSelect {
                    width: 100%;
                    height: 281px;
                    position: relative;
                    cursor: pointer;

                    i {
                        width: 100%;
                        height: 50px;
                        position: absolute;
                        bottom: 10px;
                        left: 0;
                        z-index: 5;
                    }

                    p {
                        color: $main_1;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: 2px;
                        position: absolute;
                        bottom: 25px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 9;
                    }

                    .trigger {
                        width: 310px;
                        height: 257px;
                        border-radius: 30px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        overflow: hidden;

                        img {
                            width: auto;
                            height: auto;
                            object-fit: contain;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 3;
                        }
                    }

                    &.sport {
                        .trigger {
                            img {
                                top: 5px;
                                left: 18px;

                                &.sport_move_1 {
                                    opacity: 1;
                                }

                                &.sport_move_2 {
                                    opacity: 0;
                                }

                                &.sport_move_3 {
                                    opacity: 0;
                                }
                            }

                            &:hover,
                            &:active,
                            &.active {
                                .sport_move {
                                    animation: sport_move 0.8s ease-in-out 0s, sport_hover 3s ease-in-out 3s infinite;

                                    @keyframes sport_move {
                                        0% {
                                            opacity: 0;
                                            transform: translateX(-80%) scale(0.2);
                                        }

                                        100% {
                                            opacity: 1;
                                            transform: translateX(0);
                                        }
                                    }

                                    @keyframes sport_hover {
                                        0% {
                                            transform: translateX(0%);
                                        }

                                        40% {
                                            transform: translateX(-40%);
                                        }

                                        70% {
                                            transform: translateX(40%);
                                        }

                                        100% {
                                            transform: translateX(0%);
                                        }
                                    }

                                    &.sport_move_1 {
                                        opacity: 1;
                                        z-index: 3;
                                    }

                                    &.sport_move_2 {
                                        opacity: 0.5;
                                        animation-delay: 0.1s, 4s;
                                        z-index: 2;
                                    }

                                    &.sport_move_3 {
                                        opacity: 0.3;
                                        animation-delay: 0.2s, 5s;
                                        z-index: 1;
                                    }
                                }
                            }
                        }
                    }

                    &.live {
                        .trigger {
                            img {
                                top: 6px;
                                left: 59px;
                            }

                            &:hover,
                            &:active,
                            &.active {
                                img {
                                    animation: live_move 0.8s ease-in-out, live_hover 5s ease-in-out 3s infinite;

                                    @keyframes live_move {
                                        0% {
                                            opacity: 0;
                                            transform: translateY(80%) scale(0.5);
                                        }

                                        100% {
                                            opacity: 1;
                                            transform: translateY(0);
                                        }
                                    }

                                    @keyframes live_hover {
                                        0% {
                                            transform: translate(0)
                                        }

                                        30% {
                                            opacity: 0;
                                        }

                                        50% {
                                            opacity: 1;
                                            transform: scaleX(-1);
                                        }

                                        70% {
                                            opacity: 0;
                                        }

                                        100% {
                                            opacity: 1;
                                            transform: scaleX(1);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.slot {
                        .trigger {
                            img {
                                top: 14px;
                                left: -10px;
                            }

                            &:hover,
                            &:active,
                            &.active {
                                img {
                                    animation: slot_move 0.3s linear, slot_hover 3s linear 3s infinite;

                                    @keyframes slot_move {
                                        0% {
                                            opacity: 0;
                                            transform: scale(0);
                                        }

                                        70% {
                                            opacity: 0.6;
                                            transform: scale(0.8, 1.2);
                                        }

                                        100% {
                                            opacity: 1;
                                            transform: scale(1);
                                        }
                                    }

                                    @keyframes slot_hover {
                                        0% {
                                            transform: translate(0);
                                        }

                                        40% {
                                            transform: rotate(-3deg);
                                        }

                                        70% {
                                            transform: rotate(4deg);
                                        }

                                        100% {
                                            transform: rotate(0deg);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.lottery {
                        .trigger {
                            img {
                                top: 22px;
                                left: 46px
                            }

                            &:hover,
                            &:active,
                            &.active {
                                img {
                                    animation: lottery_move 1s linear 1, lottery_hover 3s ease-in-out 3s infinite;

                                    @keyframes lottery_move {
                                        0% {
                                            opacity: 0;
                                        }

                                        100% {
                                            opacity: 1;
                                        }
                                    }

                                    @keyframes lottery_hover {
                                        0% {
                                            transform-origin: top;
                                            transform: rotate(0deg);
                                        }

                                        40% {
                                            transform-origin: top;
                                            transform: rotate(-70deg);
                                        }

                                        70% {
                                            transform-origin: top;
                                            transform: rotate(70deg);
                                        }

                                        100% {
                                            transform-origin: top;
                                            transform: rotate(0deg);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.board {
                        .trigger {
                            img {
                                top: 21px;
                                left: 36px
                            }

                            &:hover,
                            &:active,
                            &.active {
                                img {
                                    animation: board_move 0.3s linear 1, board_hover 3s linear 3s infinite;

                                    @keyframes board_move {
                                        0% {
                                            opacity: 0;
                                            transform: translateY(-250%);
                                        }

                                        40% {
                                            opacity: 0.3;
                                            transform: scale(0.5, 1.2);
                                        }

                                        100% {
                                            opacity: 1;
                                            transform: translateY(0%) scale(1);
                                        }
                                    }

                                    @keyframes board_hover {
                                        0% {
                                            opacity: 0.3;
                                        }

                                        50% {
                                            opacity: 0.6;
                                        }

                                        100% {
                                            opacity: 1;
                                        }
                                    }
                                }

                            }
                        }
                    }

                    &.fish {
                        .trigger {
                            img {
                                top: 0;
                                left: 13px;
                            }

                            &:hover,
                            &:active,
                            &.active {
                                img {
                                    animation: fish_move 0.3s linear 1, fish_hover 2s linear 3s infinite;

                                    @keyframes fish_move {
                                        0% {
                                            opacity: 0;
                                            transform: translateX(80%) scale(0.5);
                                        }

                                        100% {
                                            opacity: 1;
                                            transform: translateX(0);
                                        }
                                    }

                                    @keyframes fish_hover {
                                        0% {
                                            transform: translate(0);
                                        }

                                        40% {
                                            transform: translateX(-30%) rotateX(3600deg);
                                        }

                                        70% {
                                            transform: rotateX(0deg);
                                        }

                                        100% {
                                            transform: translate(0);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                // 敬請期待
                &.declare {
                    img {
                        width: auto;
                        height: auto;
                        object-fit: contain;
                    }
                }

            }
        }
    }




    


}